@use '@angular/material' as mat;

:host {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  min-height: 0;
}

.form {
  --gap: 1rem;
  display: grid;
  gap: var(--gap);
  padding: var(--gap);

  grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));

  mat-card {
    gap: var(--gap);
    padding: var(--gap);
  }
}

mat-toolbar {
  display: flex;
  align-items: center;
  gap: 1ch;

  [data-spacer] {
    flex: 1;
  }
}

.process-status {
  &[data-running='true'] {
    @include mat.chips-overrides(
      (
        label-text-color: green,
        outline-color: green,
        hover-state-layer-color: green,
      )
    );
  }

  &[data-running='false'] {
    @include mat.chips-overrides(
      (
        label-text-color: red,
        outline-color: red,
        hover-state-layer-color: red,
      )
    );
  }
}
